  body {
    background-color: #0a0a23;
  }

  #text {
    background-color: #0a0a23;
    color: #b62e2e;
    padding: 10px;
  }

  
  #gameUI {
    max-width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ff0000;
    margin: 30px auto 0px;
    padding: 10px;
    
  }

  .button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
  }

  #button2,#button3, #playerName  {
    display: none;
  }